.hidden-link {

	visibility: hidden;
}

.jumbotron {

	padding: 60px;
}

/**
 * Alignment
 */
.right {

    text-align: right;
}

.center {

    text-align: center;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {

    padding-top: 50px;

    a, 
    a:hover,
    a:active {
        text-decoration:none;
    }
}

/**
 * Span with icons
 */
span.fa {

    margin-right: 15px;
}

/**
 * Tables
 */
table {

    td .btn span.fa {
        
        margin-right: 0px;
    }

    th {

        font-size: 14px;

        a {

            font-size: 14px;
        }
    }
}

.tab-pane {

    margin: 30px;
}
