<div class="announcementTypes index">
	<div class="panel-heading"><?php echo __('Announcement Types'); ?></div>
	<table cellpadding="0" cellspacing="0">
	<thead>
	<tr>
			<th><?php echo $this->Paginator->sort('id'); ?></th>
			<th><?php echo $this->Paginator->sort('announcement_type'); ?></th>
			<th><?php echo $this->Paginator->sort('created'); ?></th>
			<th><?php echo $this->Paginator->sort('modified_at'); ?></th>
			<th class="actions"><?php echo __('Actions'); ?></th>
	</tr>
	</thead>
	<tbody>
	<?php foreach ($announcementTypes as $announcementType): ?>
	<tr>
		<td><?php echo h($announcementType['AnnouncementType']['id']); ?>&nbsp;</td>
		<td><?php echo h($announcementType['AnnouncementType']['announcement_type']); ?>&nbsp;</td>
		<td><?php echo h($announcementType['AnnouncementType']['created']); ?>&nbsp;</td>
		<td><?php echo h($announcementType['AnnouncementType']['modified_at']); ?>&nbsp;</td>
		<td class="actions">
			<?php echo $this->Html->link(__('View'), array('action' => 'view', $announcementType['AnnouncementType']['id'])); ?>
			<?php echo $this->Html->link(__('Edit'), array('action' => 'edit', $announcementType['AnnouncementType']['id'])); ?>
			<?php echo $this->Form->postLink(__('Delete'), array('action' => 'delete', $announcementType['AnnouncementType']['id']), array('confirm' => __('Are you sure you want to delete # %s?', $announcementType['AnnouncementType']['id']))); ?>
		</td>
	</tr>
<?php endforeach; ?>
	</tbody>
	</table>
	<p>
	<?php
	echo $this->Paginator->counter(array(
		'format' => __('Page {:page} of {:pages}, showing {:current} records out of {:count} total, starting on record {:start}, ending on {:end}')
	));
	?>	</p>
	<div class="paging">
	<?php
		echo $this->Paginator->prev('< ' . __('previous'), array(), null, array('class' => 'prev disabled'));
		echo $this->Paginator->numbers(array('separator' => ''));
		echo $this->Paginator->next(__('next') . ' >', array(), null, array('class' => 'next disabled'));
	?>
	</div>
</div>
<div class="actions">
	<h3><?php echo __('Actions'); ?></h3>
	<ul>
		<li><?php echo $this->Html->link(__('New Announcement Type'), array('action' => 'add')); ?></li>
	</ul>
</div>
