/**
 * Charts
 */
ul.pie-legend {

    list-style-type: none;

	span {

	    margin-right: 10px;
	    border-radius: 5px;

	    &::after {
	    	
		    width:16px;
		    content:' ';
		    display: inline-block;
		}
	}
}
