@imageMargin : 20px;

.file-uploader-module {
    
    margin-bottom: @imageMargin;

    .cropArea {

        img-crop {

            width: 100%;
            height: 100%;
            display: block;
            position: relative;
            overflow: hidden;
            border: 5px dashed #DDD;

             canvas {

                display: block;
                position: absolute;
                top: 50%;
                left: 50%;
                outline: none;
                -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
            }
        }

        .upload-progress {

            display: inline-block;
            width: 100%;
            border: 2px groove #CCC;
            margin-top: @imageMargin;

            div {

                font-size: smaller;
                background: green;
                color: white;
                width: 0;
                text-align: center; 
            }
        }

        background: #E4E4E4;
        overflow: hidden;
        height:270px;
        margin-bottom: @imageMargin;
    }

    form .progress {

        line-height: 15px;
    }
}

.image-view {

    margin-bottom: @imageMargin;
}

.current-image {

    img {

        width: 100%;
    }
}