.form {

    .form-horizontal {

        .form-group {

            margin: 10px;

            input[type="checkbox"] {
                
                margin-right: 15px;
            }


            label{

                width: 20%;
            }

            .form-control{

                width: auto;
                display: inline-block;
            }
        }
    }

    .submit {
        border-top: thin solid #DDD;
        padding-top: 30px;
        margin-top: 30px;
    }
}
