.sidebar {

    background-color: #555;

    /* Sidebar navigation */
    .nav-sidebar {

        margin-right: -21px; /* 20px padding + 1px border */
        margin-bottom: 20px;
        margin-left: -20px;

        > li {

            &.divider {
              
                height: 1px;
                margin: 15px 10px;
                overflow: hidden;
                background-color: #AAA;
            }

            > a {

                padding-right: 20px;
                padding-left: 20px;
                font-size: 15px;
                color:#FFF;
                font-weight: 100;

                &:hover {

                    color:#FFF;
                    background-color: #AAA;
                }
            }
        }

        & > .active > a,
        & > .active > a:hover,
        & > .active > a:focus {

            color: #FFF;
            background-color: #428bca;
        }
    }
}
