/**
 * MEDIA QUERIES
 */
@media print {
  .no-print,
  .no-print * {
    display: none !important;
  }
  .print-block {
    display: block !important;
  }
  .panel {
    border: none;
  }
  .list-group-item {
    padding: 5px;
  }
  .list-group-item p {
    margin: 0;
  }
  .no-pagee-break {
    page-break-before: auto;
  }
  .report table {
    page-break-after: always;
  }
  .report table th {
    font-size: 10px;
  }
  .report table td {
    font-size: 8px;
  }
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 45px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto;
    /* Scrollable contents if viewport is shorter than content. */
  
    border-right: 1px solid #EEE;
  }
}
@media (max-width: 768px) {
  nav.navbar .navbar-brand {
    font-size: 18px;
  }
  h2 {
    font-size: 24px;
  }
  .main {
    padding: 0 30px;
  }
}
@media (max-width: 920px) {
  .navbar-header {
    float: none;
  }
  .navbar-left,
  .navbar-right {
    float: none !important;
  }
  .navbar-toggle {
    display: block;
  }
  .navbar-collapse {
    border-top: 1px solid transparent;
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
  }
  .navbar-fixed-top {
    top: 0;
    border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
    display: none!important;
  }
  .navbar-nav {
    float: none!important;
    margin-top: 7.5px;
  }
  .navbar-nav > li {
    float: none;
  }
  .navbar-nav > li > a {
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .collapse.in {
    display: block !important;
  }
}
