/**
 * Charts
 */
ul.pie-legend {
  list-style-type: none;
}
ul.pie-legend span {
  margin-right: 10px;
  border-radius: 5px;
}
ul.pie-legend span::after {
  width: 16px;
  content: ' ';
  display: inline-block;
}

.file-uploader-module {
  margin-bottom: 20px;
}
.file-uploader-module .cropArea {
  background: #E4E4E4;
  overflow: hidden;
  height: 270px;
  margin-bottom: 20px;
}
.file-uploader-module .cropArea img-crop {
  width: 100%;
  height: 100%;
  display: block;
  position: relative;
  overflow: hidden;
  border: 5px dashed #DDD;
}
.file-uploader-module .cropArea img-crop canvas {
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  outline: none;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}
.file-uploader-module .cropArea .upload-progress {
  display: inline-block;
  width: 100%;
  border: 2px groove #CCC;
  margin-top: 20px;
}
.file-uploader-module .cropArea .upload-progress div {
  font-size: smaller;
  background: green;
  color: white;
  width: 0;
  text-align: center;
}
.file-uploader-module form .progress {
  line-height: 15px;
}
.image-view {
  margin-bottom: 20px;
}
.current-image img {
  width: 100%;
}

.form .form-horizontal .form-group {
  margin: 10px;
}
.form .form-horizontal .form-group input[type="checkbox"] {
  margin-right: 15px;
}
.form .form-horizontal .form-group label {
  width: 20%;
}
.form .form-horizontal .form-group .form-control {
  width: auto;
  display: inline-block;
}
.form .submit {
  border-top: thin solid #DDD;
  padding-top: 30px;
  margin-top: 30px;
}

nav.navbar .navbar-brand {
  font-size: 25px;
}
nav.navbar .navbar-nav a {
  font-size: 15px;
}

.sidebar {
  background-color: #555;
  /* Sidebar navigation */

}
.sidebar .nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */

  margin-bottom: 20px;
  margin-left: -20px;
}
.sidebar .nav-sidebar > li.divider {
  height: 1px;
  margin: 15px 10px;
  overflow: hidden;
  background-color: #AAA;
}
.sidebar .nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
  font-size: 15px;
  color: #FFF;
  font-weight: 100;
}
.sidebar .nav-sidebar > li > a:hover {
  color: #FFF;
  background-color: #AAA;
}
.sidebar .nav-sidebar > .active > a,
.sidebar .nav-sidebar > .active > a:hover,
.sidebar .nav-sidebar > .active > a:focus {
  color: #FFF;
  background-color: #428bca;
}
