.dashboard .facilities-box table {
  margin: 0 auto;
}
.dashboard .facilities-box .list-group {
  font-size: 18px;
}
.dashboard .facilities-box .list-group a.btn {
  margin-top: -5px;
}
.dashboard .bonifications-box ul {
  list-style: none;
}
.dashboard .bonifications-box small {
  font-weight: bold;
}
.dashboard .announcements-box .list-group {
  font-size: 14px;
  margin-bottom: 0;
}
.dashboard .announcements-box .list-group .btn span {
  font-size: 13px;
}
.dashboard .balance-box.panel .panel-body p {
  margin-bottom: 25px;
  font-weight: bold;
}
.dashboard .balance-box.panel .panel-body h5 {
  margin-top: 0;
  text-align: right;
}
.dashboard .balance-box.panel .panel-body h5 a {
  text-decoration: none;
}
.dashboard .balance-box.panel .panel-body h5 a:hover {
  color: #DDD;
}
.dashboard .balance-box.panel .panel-body small {
  text-align: right;
  display: block;
}

.view .list-group h4 {
  margin-top: 0;
  margin-bottom: 0;
}
/*
 * Global add-ons
 */
.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}
/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}
/*
 * Main content
 */
.main {
  padding: 0 45px;
}
.main h2.well a.pull-right {
  margin-top: -10px;
  margin-right: -10px;
}
/**
 * Footer
 */
.footer {
  position: absolute;
  bottom: 15px;
}
.footer h6,
.footer h5 {
  margin: 3px 0;
}
.index h2,
.view h2,
.form h2 {
  margin-bottom: 40px;
}

.login-layout .login-background {
  position: absolute;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 931px;
  background: url('../../img/platform/login-background.jpg') 50% 0 no-repeat;
}
.login-layout .client-logos {
  text-align: center;
}
.login-layout .client-logos img {
  width: 80px;
  height: 80px;
}
.login-layout .users {
  padding: 30px 20px;
}
.login-layout .users .form h2 {
  margin-top: 0px;
}
.login-layout .users .heading img {
  width: 100%;
}
.login-layout .users a.btn {
  margin-top: 20px;
}
.login-layout .users .form-group label {
  width: 0;
}
.login-layout .users .form-horizontal .form-group .form-control {
  width: 100%;
}
.login-layout .users .submit input {
  margin-left: 10px;
}
.login-layout .jumbotron {
  padding: 48px;
  background-color: rgba(255, 255, 255, 0.85);
}
.login-layout .benefits {
  margin-bottom: 200px;
}
.login-layout .benefits .media .media-object {
  width: 64px;
  height: 64px;
}
.login-layout .benefits .media .media-body blockquote {
  font-size: 14px;
}
.login-layout .benefits h3 {
  margin-top: 60px;
}
.login-layout .benefits well {
  margin-bottom: -130px;
}
.login-layout .benefits a {
  visibility: hidden;
}
.login-layout .footer {
  position: fixed;
  bottom: 0;
  left: 0;
  background-color: #F5F5F5;
  width: 100%;
  padding: 10px;
}

.connect-account {
  margin-top: 30px;
}

.report .well {
  margin-top: 10px;
}
.report .well h2 {
  margin-top: 10px;
}
