/**
 * MEDIA QUERIES
 */

@media print {

    .no-print, 
    .no-print * {

        display: none !important;
    }

    .print-block {

        display:block !important;
    }

    .panel {

        border: none;
    }

    .list-group-item {

        padding: 5px;

        p {

            margin: 0;
        }        
    }

    .no-pagee-break {

        page-break-before: auto;    
    }

    .report {

        table {
    
            page-break-after: always;    

            th {
                
                font-size: 10px;
            }

            td {
                
                font-size: 8px;
            }
        }
    }
}
