<div class="modal-header">
    <h3 class="modal-title"><span class="text-warning"><span class="fa fa-warning"></span> Confirmar</span></h3>
</div>

<div class="modal-body">

	<small>Usted enviará un cargo a cada residencia por el mes actual.</small>
	<p>Al confirmar, los residentes recibirán las notificaciones en su correo y podrán verlo en su panel.</p>
	<uib-progressbar class="progress-striped active" ng-show="showProgress" value="dynamic" type="info"></uib-progressbar>
</div>

<div class="modal-footer">
    <button class="btn btn-success" type="button" ng-click="apply()">Si, deseo enviar cargos del mes</button>
    <button class="btn btn-danger" type="button" ng-click="cancel()">No</button>
</div>