<div class="panel panel-default">

    <div class="panel-heading">
        Recaudación este Mes: 
        <span ng-class="{'text-danger': ((chartMonthBalance.data[0]/chartMonthBalance.data[1])<.5)}">{{(chartMonthBalance.data[0]/chartMonthBalance.data[1])*100 | number : 2}}%</span>
    </div>
    
    <div class="panel-body">
        <canvas 
            id="pie-expenses" 
            chart-options="chartOptions" 
            class="chart chart-pie" 
            chart-legend="true"
            chart-data="chartMonthBalance.data" 
            chart-labels="chartMonthBalance.labels"></canvas>
        </canvas>
    </div>

</div>
