<div class="panel panel-default">

    <div class="panel-heading">
        Recaudación Total: 
        <span ng-class="{'text-danger': ((charChargesPayments.data[0]/charChargesPayments.data[1])<.5)}">{{(charChargesPayments.data[0]/charChargesPayments.data[1])*100 | number : 2}}%</span>
    </div>
    
    <div class="panel-body">
        <canvas 
            id="pie-expenses" 
            chart-options="chartOptions" 
            class="chart chart-pie" 
            chart-legend="true"
            chart-data="charChargesPayments.data" 
            chart-labels="charChargesPayments.labels">
        </canvas>
    </div>

</div>
