<div class="modal-header">
    <h3 class="modal-title">Comprobante de Gasto</h3>
</div>
<div class="modal-body">
    <img src="{{expenseImage}}" ng-show="expenseImage != ''"/>
    <h4 ng-hide="expenseImage!=''">No se encontró imagen</h4>
</div>
<div class="modal-footer">
    <button class="btn btn-warning" type="button" ng-click="close()">Cerrar</button>
</div>