<div class="btn-group">

    <a class="btn btn-default" href="/avisos">
        <span>Enviar Nuevo Aviso</span>
    </a>
    <a class="btn btn-default" href="/pagos/agregar">
        <span>Registrar Pago</span>
    </a>
    <a class="btn btn-default" href="/cargos">
        <span>Ver Cargos</span>
    </a>
    
</div>
