<div class="panel panel-default announcements-box">

    <div class="panel-heading">
        <span class="fa fa-comment"></span> Avisos
    </div>

    <div class="panel-body">
        <ul class="list-group">
            <li class="list-group-item" ng-repeat="announcement in announcements">
                <span class="badge">{{announcement.date}}</span>
                <a href="#" popover-placement="right" popover-trigger="mouseenter" uib-popover="{{announcement.announcement}}" popover-title="{{announcement.title}}">
                    <span class="text-{{announcement.class}}">{{announcement.title}}</span>
                </a>
            </li>
        </ul>
    </div>

</div>