<div class="panel panel-default balance-box">
    
    <div class="panel-heading">
        <span class="fa fa-suitcase"></span> Finanzas {{month}}
    </div>
    
    <div class="panel-body">

        <div class="col-md-4">
        <span><a class="text-success" href='/pagos'>Ingresos:</a></span>
        <span>{{monthBalance.income | currency:$:2}}</span>
        </div>

        <div class="col-md-4">
        <span><a class="text-danger" href='/gastos'>Gastos:</a></span>
        <span>{{monthBalance.expenses | currency:$:2}}</span>
        </div>

        <div class="col-md-4">
        <span><b>Saldo:</b></span>
        <span>{{(monthBalance.income-monthBalance.expenses) | currency:$:2}}</span>
        </div>

    </div>

</div>