<div class="panel panel-default balance-box">
    
    <div class="panel-heading">
        <span class="fa fa-suitcase"></span> Estado de la Caja
    </div>
    
    <div class="panel-body">
    	<div class="col-md-6">
	        <span><b>Efectivo:</b></span>
	        <span ng-class="{'text-danger': (totalBalance.cash<0)}">{{totalBalance.cash | currency:$:2}}</span>
        </div>
    	<div class="col-md-6">
	        <span><b>Electrónico:</b></span>
	        <span ng-class="{'text-danger': (totalBalance.electronic<0)}">{{totalBalance.electronic | currency:$:2}}</span>
        </div>
    </div>

</div>