<div class="panel panel-default bonifications-box">

    <div class="panel-heading">
        <span class="fa fa-money"></span> Convenios
        <span class="badge pull-right" ng-hide="bonifications.length==0">{{bonifications.length}}</span>
    </div>

    <div class="panel-body">
    	<ul class="list-group" ng-hide="bonifications.length==0">
    		<li class="list-group-item" ng-repeat="bonification in bonifications">
	    		<small>{{bonification.Home.street}} #{{bonification.Home.number}} pagó ${{bonification.Payment.amount | number:2}}</small>
	    		<p>{{bonification.Payment.payment_details}}</p>
	    		<a class="btn btn-xs btn-primary" href="/pagos/editar/{{bonification.Payment.id}}">Ver pago y aprobar</a>
    		</li>
    	</ul>
    	<h5 ng-show="bonifications.length==0">No hay bonificaciones pendientes</h5>
    </div>

</div>