<div class="panel panel-default">

    <div class="panel-heading">
    	<span class="fa fa-pie-chart"></span>
        Recaudación Mensual
    </div>
    
    <div class="panel-body">
        <canvas 
        id="pie-expenses" 
        chart-options="chartOptions" 
        class="chart chart-pie" 
        chart-legend="true"
        chart-data="chartMonthBalance.data" 
        chart-labels="chartMonthBalance.labels"></canvas>
    </div>

</div>
