<div class="panel panel-default">
    <div class="panel-heading">
    	<span class="fa fa-home"></span>    
        Ocupación de Casas
    </div>
    <div class="panel-body">
        <canvas 
	        id="doughnut-homes" 
	        chart-options="chartOptions" 
	        class="chart chart-pie" 
	        chart-legend="true" 
	        chart-data="chartHomes.data" 
	        chart-labels="chartHomes.labels">
        </canvas>
    </div>
</div>