<div class="panel panel-default">

    <div class="panel-heading">
    	<span class="fa fa-line-chart"></span>
        Balance Total
    </div>
    
    <div class="panel-body">
        <canvas 
	        id="line-expenses" 
	        chart-series="chartBalance.series" 
	        chart-options="chartOptions" 
	        class="chart chart-line" 
	        chart-legend="true" 
	        chart-data="chartBalance.data" 
	        chart-labels="chartBalance.labels">
        </canvas>
    </div>

</div>
