<div class="panel panel-default agreements-box">

    <div class="panel-heading">
        <span class="fa fa-check"></span> Auditoría Gastos
    </div>

    <div class="panel-body">
        <h5>Hay <span class="text-success"><b>{{expensesAudit.total}}</b></span> gastos registrados.</h5>
        <h5>De esos <span class="text-danger"><b>{{expensesAudit.with_image}}</b></span> tienen recibo.</h5>
        <hr>
        <p><a href="/gastos">Ver listado de recibos</a></p>
    </div>

</div>