<div class="modal-header">
    <h3 class="modal-title">Ubicación</h3>
</div>
<div class="modal-body">
	<div ng-bind-html="map"></div>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" type="button" ng-click="closeModal()">Cerrar</button>
</div>