<div class="panel panel-default facilities-box">

    <div class="panel-heading">
        <span class="fa fa-tree"></span> Áreas Comunes
    </div>

    <div class="panel-body" ng-controller="FacilitiesController" ng-init="getAllFacilities()">

        <uib-tabset>

            <uib-tab ng-repeat="facility in facilities" index="$index" heading="{{facility.facility}}">
                
                <h5>
                    <span>Consulte la disponibilidad</span>
                </h5>

                <div ng-controller="FacilitiesRentalsController" ng-init="checkAvailability(facility.id)">
                    <calendar ng-if="showCalendar" calendar-mode="calendarMode" ng-model="currentDate" event-source="eventSource" time-selected="onTimeSelected(selectedTime)"></calendar>
                    <span>
                        <a ng-click="facilityLocationModal(facility.latitude,facility.longitude)" href="#">
                            <span class="fa fa-map-o"></span> Ubicación de {{facility.facility}}
                        </a>
                        <a class="btn btn-danger btn-sm pull-right disabled" ng-hide="faciltyAvailable">No Disponible</button>
                        <a class="btn btn-success btn-sm pull-right" href="#" ng-click="reservation(facility.id)" ng-show="faciltyAvailable">Reservar</a>
                    </span>
                </div>

            </uib-tab>

        </uib-tabset>

    </div>

</div>
