<nav class="navbar navbar-default navbar-inverse navbar-fixed-top">

    <div class="container-fluid">

        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#login-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="fa fa-home"></span> MiResidencial.mx</a>
        </div>

        <div class="collapse navbar-collapse navbar-right" id="login-navbar-collapse-1">
            <ul class="nav navbar-nav">  
                <li><a href="#finanzas">Finanzas</a></li>
                <li><a href="#areas_comunes">Áreas Comunes</a></li>
                <li><a href="#residencias">Residencias</a></li>
                <li><a href="#residentes">Residentes</a></li>
                <li><a href="#seguridad">Seguridad</a></li>
            </ul>
        </div>

    </div>
</nav>
