<nav class="navbar navbar-default navbar-fixed-top">

    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/"><span class="fa fa-home"></span> MiResidencial.mx :: {{neighborhood.Neighborhood.neighborhood}}</a>            
        </div>
        <div class="collapse navbar-collapse navbar-right" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">                    
                <li>
                    <a href="/inventario">
                        Inventario
                    </a>
                </li>
                <li class="dropdown">
                    <a href="/pagos" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Finanzas <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/pagos">Pagos</a></li>
                        <li><a href="/gastos">Gastos</a></li>
                        <li><a href="/cargos">Cargos</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/reportes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Catálogos <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/proveedores">Proveedores</a></li>
                        <li><a href="/tipos_usuario">Tipo de Usuario</a></li>
                        <li><a href="/tipos_pago">Tipo de Pago</a></li>
                        <li><a href="/tipos_cargo">Tipo de Cargo</a></li>
                        <li><a href="/tipos_gasto">Tipo de Gasto</a></li>
                        <li><a href="/tipos_residente">Tipo de Residente</a></li>
                        <li><a href="/tipos_casa">Tipo de Casa</a></li>
                    </ul>
                </li>
                <li class="dropdown">
                    <a href="/reportes" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                        Reportes <span class="caret"></span>
                    </a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/reportes/hoy">Hoy</a></li>
                        <li><a href="/reportes/semana">Esta Semana</a></li>
                        <li><a href="/reportes/mes">Este Mes</a></li>
                        <li><a href="/reportes/anio">Este Año</a></li>
                    </ul>
                </li>
                <li>
                    <a href="/usuarios/salir" role="button">
                        Salir
                    </a>
                </li>
            </ul>
        </div>
    </div>

</nav>
