<ul class="nav nav-sidebar">
    <li><a href="/"><span class="fa fa-dashboard"></span>Panel de Control</a></li>
    <li><a href="/residentes"><span class="fa fa-user"></span>Residentes</a></li>
    <li><a href="/casas"><span class="fa fa-home"></span>Domicilios</a></li>
    <li><a href="/areas"><span class="fa fa-tree"></span>Áreas Comunes</a></li>
    <li><a href="/renta_areas"><span class="fa fa-list"></span>Reservación</a></li>
    <li><a href="/usuarios"><span class="fa fa-users"></span>Usuarios</a></li>
    <li><a href="/avisos"><span class="fa fa-comment"></span>Avisos</a></li>
    <li class="divider"></li>
    <li><a href="/mi-perfil"><span class="fa fa-folder"></span>Mi Perfil</a></li>
    <li><a href="/mi-residencial"><span class="fa fa-circle"></span>Mi Comunidad</a></li>
</ul>

<x-platform-footer class='footer'></x-platform-footer>
