<div class="search-box panel panel-default bs-component" ng-controller="QuickSearchController">

    <div class="panel-heading"> 
        <span class="fa fa-search"></span> Búsqueda Rápida
    </div>
    
    <div class="panel-body">
        <input type="text" ng-model="search" placeholder="Ingrese texto de búsqueda" uib-typeahead="suggestion.value for suggestion in getSearchResults($viewValue)" typeahead-wait-ms="400" typeahead-loading="loadingResults" typeahead-no-results="noResults" class="form-control" typeahead-on-select="viewRecord($item)">
        <i ng-show="loadingResults" class="glyphicon glyphicon-refresh"></i>
        <div ng-show="noResults">
            <i class="glyphicon glyphicon-remove"></i> No se encontraron resultados
        </div>
    </div>

</div>