.dashboard {
    
    .facilities-box {

        table {
            margin: 0 auto;
        }
    
        .list-group {

            font-size: 18px;

            a.btn {
                margin-top: -5px;
            }
        }
    }

    .bonifications-box {
        ul {
            list-style: none;
        }

        small {
            font-weight: bold;
        }
    }

    .announcements-box {

        .list-group {

            font-size: 14px;
            margin-bottom: 0;

            .btn {

                span {

                    font-size: 13px;
                }
            }
        }
    }

    .balance-box {

        &.panel {
            
            .panel-body {

                p {
                    margin-bottom: 25px;
                    font-weight: bold;
                }

                h5 {
                    
                    margin-top: 0;
                    text-align: right;

                    a {

                        &:hover {

                            color:#DDD;
                        }

                        text-decoration: none;
                    }
                }

                small {
                    text-align: right;
                    display: block;
                }
            }
        }
    }
}
