
.view .list-group h4 {
    
    margin-top: 0;
    margin-bottom: 0;
}

/*
 * Global add-ons
 */
.sub-header {

    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {

    border: 0;
}

/*
 * Main content
 */
.main {

    padding: 0 45px;

    h2.well a.pull-right{

        margin-top: -10px;
        margin-right: -10px;
    }
}

/**
 * Footer
 */
.footer {

    position: absolute;
    bottom:15px;

    h6, h5 {

        margin: 3px 0;
    }
}

.index h2,
.view h2,
.form h2 {

    margin-bottom: 40px;
}
