.login-layout {

    .login-background {

        position: absolute;
        top: 0;
        bottom: 0;
        width: 100%;
        height: 931px;
        background: url('../../img/platform/login-background.jpg') 50% 0 no-repeat;
    }

    .client-logos {

        text-align: center;

        img {

            width: 80px;
            height: 80px;
        }
    }

    .users {

        .form {

            h2 {

                margin-top: 0px;
            }
        }

        .heading {

            img {

                width: 100%;
            }
        }


        a {

            &.btn {

                margin-top: 20px;
            }
        }

        padding: 30px 20px;

        .form-group {

            label {

                width: 0;
            }
        }

        .form-horizontal {
        
            .form-group {

                .form-control {

                    width: 100%;
                }
            }
        }

        .submit {

            input {

                margin-left: 10px;
            }
        }
    }

    .jumbotron {

        padding: 48px;
        background-color: rgba(255,255,255,.85);
    }

    .benefits {

        margin-bottom: 200px;

        .media {

            .media-object {
                width: 64px;
                height: 64px;
            }

            .media-body {

                blockquote {
                    font-size: 14px;
                }
            }
        }


        h3 {

            margin-top: 60px;
        }

        well {

            margin-bottom: -130px;
        }

        a {

            visibility: hidden;
        }
    }

    .footer {

        position: fixed;
        bottom: 0;
        left: 0;
        background-color: #F5F5F5;
        width: 100%;
        padding: 10px;
    }
}