<div class="current-image" uib-collapse="isCollapsed">

    <img src="{{currentImage}}" />
    <a href="#" class="btn btn-block btn-info" ng-click="toggleCollapse()"><span class="fa fa-image"></span> Cambiar Imagen</a>

</div>

<div class="file-uploader-module" id="uploadFile" uib-collapse="!isCollapsed">

    <form name="pictureUploadForm">

        <div ngf-drop ng-model="picFile" ngf-pattern="image/*" class="cropArea">
            <img-crop image="picFile | ngfDataUrl" result-image="croppedDataUrl" ng-init="croppedDataUrl=''"></img-crop>
        </div>

        <div class="btn-group btn-group-justified">   
            <a class="btn btn-default" ngf-select ng-model="picFile" accept="image/*"><span class="fa fa-image"></span> Buscar</a>
            <a class="btn btn-default" ng-click="upload(croppedDataUrl, picFile.name)"><span class="fa fa-upload"></span> Subir</a> 
        </div>

        <span class="upload-progress" ng-show="progress >= 0">
            <div style="width:{{progress}}%" ng-bind="progress + '%'"></div>
        </span>

        <span ng-show="result">La imagen se ha actualizado</span>
        <span class="err" ng-show="errorMsg">{{errorMsg}}</span>

    </form>
</div>
